services:
  postgres:
    image: postgres:17
    environment:
      POSTGRES_DB: my_db  
      POSTGRES_USER: my_user 
      POSTGRES_PASSWORD: my_pass
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data/

volumes:
  postgres_data:
